*{
    color: black;
    
}
.grid-container {
    display: grid;
    grid-template-rows: 8vh auto 30vh;
    grid-template-columns: 15vw 70vw 15vw;

}
.header{
    grid-row: 1/2;
    grid-column: 1/-1;
    background-color: transparent;
}
.body{
    grid-row: 2/3;
    grid-column: 2/3;
}

.footer{
    grid-row: 3/4;
    grid-column: 1/-1;
    background-color: rgb(71, 71, 71);
}

.navigation{
    margin: 0% 20%;
}
